[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Telegram
Comment=
Exec=/home/vipulgupta2048/Desktop/X desktop Stuff/Telegram
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

