[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Google Chrome
Comment=
Exec=google-chrome
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=true

