[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/vipulgupta2048/Desktop/TELEgram_setup.tar.xz]
row=6
col=1

[/home/vipulgupta2048/Desktop/atom-amd64.deb]
row=8
col=0

[/home/vipulgupta2048/Desktop/X desktop Stuff]
row=4
col=0

[/home/vipulgupta2048/Desktop/anydesk_2.9.6-1_amd64.deb]
row=7
col=0

[/home/vipulgupta2048/Desktop/pandoc-2.1.3-1-amd64.deb]
row=3
col=1

[/home/vipulgupta2048/Desktop/Ubuntu Dark.hct]
row=7
col=1

[/home/vipulgupta2048/Desktop/Screenshot_2018-09-29_13-09-33.png]
row=5
col=0

[/home/vipulgupta2048/Desktop/remarkable_1.87_all.deb]
row=5
col=1

[/home/vipulgupta2048/Desktop/Popcorn-Time-0.3.10-Linux-64.tar.xz]
row=4
col=1

[/home/vipulgupta2048/Desktop/xfce4-weather-plugin_0.8.9-1_amd64.deb]
row=8
col=1

[423B-3EAB]
row=1
col=0

[0C827B1A827B078A]
row=2
col=1

[0CB471A6B47192C6]
row=0
col=1

[56CCBAA7CCBA80B3]
row=6
col=0

[84967E1A967E0D44]
row=1
col=1

[Trash]
row=2
col=0

[/]
row=0
col=0

[/home/vipulgupta2048]
row=3
col=0

