[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/vipulgupta2048/Desktop/PyDelhi Celebrates Women's Day _ Meetup.html]
row=2
col=1

[/home/vipulgupta2048/Desktop/Summer ]
row=4
col=14

[/home/vipulgupta2048/Desktop/groove.xspf]
row=5
col=0

[/home/vipulgupta2048/Desktop/Desktop]
row=4
col=1

[/home/vipulgupta2048/Desktop/X desktop Stuff]
row=3
col=1

[/home/vipulgupta2048/Desktop/Minor]
row=3
col=14

[/home/vipulgupta2048/Desktop/Telegram]
row=4
col=0

[/home/vipulgupta2048/Desktop/a.py]
row=0
col=2

[0C827B1A827B078A]
row=1
col=0

[0CB471A6B47192C6]
row=0
col=1

[84967E1A967E0D44]
row=1
col=2

[423B-3EAB]
row=1
col=1

[56CCBAA7CCBA80B3]
row=6
col=0

[/home/vipulgupta2048]
row=3
col=0

[/]
row=0
col=0

[Trash]
row=2
col=0

