[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/vipulgupta2048/Desktop/Summer ]
row=4
col=14

[/home/vipulgupta2048/Desktop/596_1.pdf]
row=6
col=0

[/home/vipulgupta2048/Desktop/groove.xspf]
row=5
col=0

[/home/vipulgupta2048/Desktop/Desktop]
row=4
col=1

[/home/vipulgupta2048/Desktop/GSoC]
row=5
col=14

[/home/vipulgupta2048/Desktop/Game.of.Thrones.S08E03.WEB.H264-MEMENTO[rarbg]]
row=3
col=1

[/home/vipulgupta2048/Desktop/Solution lelo.jpg]
row=7
col=0

[/home/vipulgupta2048/Desktop/heap.py]
row=2
col=1

[/home/vipulgupta2048/Desktop/X desktop Stuff]
row=4
col=0

[/home/vipulgupta2048/Desktop/Booking.com_ Confirmation.pdf]
row=6
col=1

[/home/vipulgupta2048/Desktop/D4LzMamU8AAEeSs.jpg]
row=5
col=1

[/home/vipulgupta2048/Desktop/Minor]
row=3
col=14

[/home/vipulgupta2048/Desktop/Amity _ Payment Gateway.pdf]
row=8
col=1

[/home/vipulgupta2048/Desktop/Telegram]
row=8
col=0

[/home/vipulgupta2048/Desktop/Screenshot_2019-04-29_22-48-11.png]
row=0
col=2

[/home/vipulgupta2048/Desktop/Screenshot_2019-04-29_22-41-45.png]
row=7
col=1

[/home/vipulgupta2048/Desktop/Screenshot_2019-04-10_01-16-00.png]
row=2
col=14

[84967E1A967E0D44]
row=1
col=1

[423B-3EAB]
row=1
col=2

[0C827B1A827B078A]
row=1
col=0

[0CB471A6B47192C6]
row=0
col=1

[56CCBAA7CCBA80B3]
row=2
col=2

[Trash]
row=2
col=0

[/]
row=0
col=0

[/home/vipulgupta2048]
row=3
col=0

