[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/vipulgupta2048/Desktop/groove.xspf]
row=2
col=1

[/home/vipulgupta2048/Desktop/django]
row=4
col=0

[/home/vipulgupta2048/Desktop/Telegram]
row=3
col=1

[/home/vipulgupta2048/Desktop/linux]
row=2
col=2

[/home/vipulgupta2048/Desktop/Desktop]
row=1
col=1

[/home/vipulgupta2048/Desktop/X desktop Stuff]
row=1
col=3

[84967E1A967E0D44]
row=1
col=2

[423B-3EAB]
row=0
col=2

[0C827B1A827B078A]
row=1
col=0

[0CB471A6B47192C6]
row=3
col=0

[google-drive://vipulgupta2048@gmail.com/]
row=0
col=1

[Trash]
row=2
col=0

[/]
row=0
col=0

[/home/vipulgupta2048]
row=0
col=3

