[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/vipulgupta2048/Desktop/groove.xspf]
row=3
col=2

[/home/vipulgupta2048/Desktop/Telegram]
row=2
col=2

[/home/vipulgupta2048/Desktop/linux]
row=3
col=1

[/home/vipulgupta2048/Desktop/Desktop]
row=1
col=3

[/home/vipulgupta2048/Desktop/X desktop Stuff]
row=2
col=1

[/home/vipulgupta2048/Desktop/whatsapp-image-2017-08-08-at-11-43-43-pm.jpeg]
row=4
col=0

[84967E1A967E0D44]
row=1
col=2

[423B-3EAB]
row=0
col=2

[0C827B1A827B078A]
row=1
col=1

[0CB471A6B47192C6]
row=0
col=1

[google-drive://vipulgupta2048@gmail.com/]
row=3
col=0

[Trash]
row=1
col=0

[/]
row=0
col=0

[/home/vipulgupta2048]
row=2
col=0

