[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/vipulgupta2048/Desktop/groove.xspf]
row=5
col=0

[/home/vipulgupta2048/Desktop/Desktop]
row=4
col=1

[/home/vipulgupta2048/Desktop/X desktop Stuff]
row=3
col=1

[/home/vipulgupta2048/Desktop/Creddle _ Resume.pdf]
row=6
col=0

[/home/vipulgupta2048/Desktop/Telegram]
row=4
col=0

[/home/vipulgupta2048/Desktop/Screenshot_2018-10-26_07-11-41.png]
row=7
col=0

[/home/vipulgupta2048/Desktop/Screenshot_2018-10-27_06-59-57.png]
row=8
col=0

[/home/vipulgupta2048/Desktop/Watch Dogs 2 - Gold Edition [FitGirl Repack]]
row=5
col=1

[/home/vipulgupta2048/Desktop/Manage your bookings - Booking.com.pdf]
row=2
col=1

[423B-3EAB]
row=0
col=2

[0C827B1A827B078A]
row=1
col=0

[0CB471A6B47192C6]
row=0
col=1

[84967E1A967E0D44]
row=1
col=1

[Trash]
row=2
col=0

[/]
row=0
col=0

[/home/vipulgupta2048]
row=3
col=0

