[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/vipulgupta2048/Desktop/photo_2018-09-06_12-53-02.jpg.xmp]
row=2
col=3

[/home/vipulgupta2048/Desktop/photo_2018-09-06_12-53-02.jpg]
row=1
col=3

[/home/vipulgupta2048/Desktop/sugar-live-build]
row=3
col=2

[/home/vipulgupta2048/Desktop/Desktop]
row=1
col=2

[/home/vipulgupta2048/Desktop/New File]
row=4
col=0

[/home/vipulgupta2048/Desktop/Screenshot_2018-09-06_22-17-47.png]
row=4
col=2

[/home/vipulgupta2048/Desktop/Gmail - Fwd_ Ticket for New Delhi - Boston return flight -- Trip ID 180822211464.pdf]
row=1
col=4

[/home/vipulgupta2048/Desktop/groove.xspf]
row=4
col=1

[/home/vipulgupta2048/Desktop/X desktop Stuff]
row=2
col=2

[/home/vipulgupta2048/Desktop/R180224247.pdf]
row=4
col=3

[/home/vipulgupta2048/Desktop/Screenshot_2018-09-06_02-02-15.png]
row=3
col=3

[/home/vipulgupta2048/Desktop/a.sh]
row=0
col=3

[/home/vipulgupta2048/Desktop/Redmi Note 4 Lineage OS]
row=3
col=1

[/home/vipulgupta2048/Desktop/live-image-amd64.hybrid.iso]
row=0
col=4

[/home/vipulgupta2048/Desktop/light]
row=2
col=4

[0C827B1A827B078A]
row=1
col=0

[0CB471A6B47192C6]
row=1
col=1

[google-drive://vipulgupta2048@gmail.com/]
row=2
col=0

[84967E1A967E0D44]
row=0
col=1

[423B-3EAB]
row=0
col=2

[Trash]
row=3
col=0

[/]
row=0
col=0

[/home/vipulgupta2048]
row=2
col=1

