[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/vipulgupta2048/Desktop/workssssssssssss]
row=7
col=0

[/home/vipulgupta2048/Desktop/groove.xspf]
row=3
col=1

[/home/vipulgupta2048/Desktop/Desktop]
row=3
col=0

[/home/vipulgupta2048/Desktop/Narcos]
row=4
col=1

[/home/vipulgupta2048/Desktop/Screenshot_2018-05-23_11-07-43.png]
row=8
col=0

[/home/vipulgupta2048/Desktop/projects]
row=6
col=0

[/home/vipulgupta2048/Desktop/X desktop Stuff]
row=2
col=2

[/home/vipulgupta2048/Desktop/convince.md]
row=5
col=0

[/home/vipulgupta2048/Desktop/live-image-amd64.hybrid.iso]
row=4
col=0

[/home/vipulgupta2048/Desktop/Telegram]
row=1
col=3

[0CB471A6B47192C6]
row=1
col=1

[google-drive://vipulgupta2048@gmail.com/]
row=2
col=0

[84967E1A967E0D44]
row=0
col=1

[423B-3EAB]
row=0
col=2

[0C827B1A827B078A]
row=1
col=0

[/home/vipulgupta2048]
row=2
col=1

[/]
row=0
col=0

[Trash]
row=1
col=2

