[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/vipulgupta2048/Desktop/WORK.png]
row=4
col=1

[/home/vipulgupta2048/Desktop/groove.xspf]
row=3
col=1

[/home/vipulgupta2048/Desktop/Desktop]
row=2
col=0

[/home/vipulgupta2048/Desktop/tex]
row=4
col=0

[/home/vipulgupta2048/Desktop/X desktop Stuff]
row=5
col=0

[/home/vipulgupta2048/Desktop/Telegram]
row=0
col=13

[/home/vipulgupta2048/Desktop/check.odt]
row=6
col=0

[/home/vipulgupta2048/Desktop/linux]
row=3
col=0

[84967E1A967E0D44]
row=0
col=1

[423B-3EAB]
row=0
col=2

[0C827B1A827B078A]
row=1
col=1

[0CB471A6B47192C6]
row=1
col=2

[Trash]
row=2
col=1

[/]
row=0
col=0

[/home/vipulgupta2048]
row=1
col=0

