[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/vipulgupta2048/Desktop/a.jpeg]
row=6
col=1

[/home/vipulgupta2048/Desktop/Gmail - Fwd_ Ticket for New Delhi - Boston return flight -- Trip ID 180822211464.pdf]
row=7
col=0

[/home/vipulgupta2048/Desktop/New File]
row=4
col=0

[/home/vipulgupta2048/Desktop/Desktop]
row=2
col=0

[/home/vipulgupta2048/Desktop/light]
row=7
col=1

[/home/vipulgupta2048/Desktop/groove.xspf]
row=3
col=1

[/home/vipulgupta2048/Desktop/X desktop Stuff]
row=2
col=2

[/home/vipulgupta2048/Desktop/a.sh]
row=5
col=0

[/home/vipulgupta2048/Desktop/Telegram]
row=1
col=3

[/home/vipulgupta2048/Desktop/Redmi Note 4 Lineage OS]
row=4
col=1

[/home/vipulgupta2048/Desktop/fg.jpeg]
row=6
col=0

[/home/vipulgupta2048/Desktop/hack.jpeg]
row=8
col=0

[423B-3EAB]
row=0
col=2

[0C827B1A827B078A]
row=1
col=0

[0CB471A6B47192C6]
row=1
col=1

[google-drive://vipulgupta2048@gmail.com/]
row=3
col=0

[84967E1A967E0D44]
row=0
col=1

[Trash]
row=1
col=2

[/]
row=0
col=0

[/home/vipulgupta2048]
row=2
col=1

